<div class="container">

  <div class="flash">
    <h5>Please complete all fields!</h5>
  </div>

  <div id="search-field">
    <form>
      <h5>Search Ideas</h5><br>
      <input type="text" id="filter" name="filter-input">
    </form> <br>
  </div>

  <div class="new-idea">
    <h5> Enter a New Idea</h5> <br>
    <div id="idea-form"></div> <br>
  </div>

  <div class="ideas">
    <%= render @ideas %>
  </div>
